/*** HEADER STYLES ***/

header {
  background-color: var(--header-background-color);
  min-height: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../../../assets/images/banner/florest.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 90%;
  filter: saturate(0);
  opacity: 0.2;
}

.header-content {
  max-width: 700px;
  padding: 80px 20px;
  text-align: center;
  z-index: 2;
}

.header-content img {
  width: 80%;
}

.header-content p {
  margin: 30px 0 50px;
}

.header-content button {
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
}

.header-content button:hover {
  background-color: var(--primary-color);
  color: var(--primary-color-contrast);
}
