/* Section 01 - Inverted World */

.container {
  max-width: 1200px;
}

section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 95px;
}

#section-inverted-world {
  align-items: center;
}

#section-inverted-world .section-texts {
  width: 50%;
}

#section-inverted-world .section-texts h2 {
  max-width: 300px;
}
