<section id="section-inverted-world" class="container">
  <div class="section-texts">
    <h1>O Mundo Invertido</h1>
    <p role="text">
      O Mundo Invertido parece uma cópia do nosso mundo, mas com criaturas
      horrendas, tempestades assustadoras, muita escuridão e entidades
      malignas. Um reino controlado por Vecna, que tem planos de trazer tudo
      isso ao nosso mundo.
    </p>
  </div>

  <img
    class="invert-element"
    src="assets/images/content/inverted-world.png"
    alt="Imagem ilustrativa do Mundo Invertido"
  />
</section>
