/* Section 02 - Stranger Things Trailer */

.container {
  max-width: 1200px;
}

section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 95px;
}

#section-stranger-things-trailer .section-texts {
  width: 50%;
  text-align: right;
}

#section-stranger-things-trailer .section-texts h2 {
  max-width: 425px;
  display: inline-block;
}

#section-stranger-things-trailer .video-frame {
  background-color: var(--primary-color);
}

#section-stranger-things-trailer .video-frame iframe {
  position: relative;
  bottom: 24px;
  left: 24px;
  border: 2px solid;
  border-image: linear-gradient(
    var(--primary-color),
    var(--primary-color-contrast)
  );
  border-image-slice: 10;
}
