<section id="section-stranger-things-trailer" class="container">
  <div class="video-frame" aria-hidden="true">
    <iframe
      width="460"
      height="215"
      src="https://www.youtube.com/embed/otutSrxYpa4?si=xtmpBgXv9GdLmMt-"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
  <div class="section-texts">
    <h2>Stranger Things Vol. 4</h2>
    <p role="text">
      Mais experientes, os heróis de Stranger Things também precisam enfrentar
      desafios maiores do que nunca e fazer decisões que vão mudar suas vidas
      para sempre. Confira ao lado o trailer da quarta temporada.
    </p>
  </div>
</section>
